# Ignore Gradle project-specific cache directory and text editor junk
.gradle
.vscode

# Ignore Gradle and other default build output directory
build
bin

# Ignore Gradle wrapper and setting files
gradle
gradlew
gradlew.bat
gradle.properties
settings.gradle
